/* override default browser styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #1a1a1a;
}

/* Header */
header {
    background-color: teal;
}

/* Main content */
main {
    background-color: burlywood;
    /* main content to take up surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: tomato;
}